$side-top-color: #253141;
$side-bottom-color: #2f3e51;
$light-blue: #38AEF0;
$border-color: #eeeeee;
$main-middle-color: #EEEEEE;
$main-bottom-color: #CCCCCC;
$message-color: #434A54;
$white: #FFFFFF;
$light-gray: #999999;
$alert_orange: #F35500;

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}